.crops > li {
  margin-bottom: 30px;
  max-height: 30px;
  cursor: pointer;
  transition-duration: var(--transition);
  transition-property: ease-out;
  transition-property: margin-bottom, max-height, opacity;
}

.crops > li.hidden {
  margin-bottom: 0;
  max-height: 0;
  opacity: 0;
}

.crops dl {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.crops > li > dl > dt,
.crops > li > dl > dd {
  font-weight: var(--font-weight-bold);
}

.crops > li > dl::before,
.crops > li > dl > dt::before,
.crops > li > dl > dd::before,
.crops > li > dl > dd::after {
  height: 6px;
  content: " ";
}

.crops > li > dl::before,
.crops > li > dl > dd::before,
.crops > li > dl > dd::after {
  position: absolute;
  display: block;
  left: 0;
  top: 20px;
}

/* Bar background */
.crops > li > dl::before {
  width: 100%;
  background: var(--background-2);
}

/* Colored dot */
.crops > li > dl > dt::before {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: var(--color);
  margin-right: 5px;
  margin-bottom: 2px;
  border-radius: 99px;
}

/* Background bar color - adverse conditions */
.crops > li > dl > dd::before {
  display: none;
}
.crops.showBackground > li > dl > dd::before {
  display: block;
  width: var(--widthBackground);
  background: repeating-linear-gradient(
    -45deg,
    var(--color),
    var(--color) 1px,
    transparent 1px,
    transparent 3px
  );
  transition: width 0.5s ease;
}

/* Bar color */
.crops > li > dl > dd::after {
  width: var(--widthForeground);
  background: var(--color);
  transition: width 0.5s ease;
}

/* .loading .crops > li > dl > dd::before {
  animation: fade 1s linear infinite;
  width: 100%;
} */

.detail {
  margin-left: 30px;
  margin-top: 25px;
}

.detail > li {
  margin-bottom: 10px;
}

.detail dt::before {
  display: inline-block;
  width: 4px;
  height: 4px;
  content: " ";
  border-radius: 99px;
  background: var(--color);
  margin-right: 5px;
  margin-bottom: 2px;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.variation {
  margin-left: 24px;
  position: relative;
}

.variation::before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.negative {
  color: var(--value-negative);
}

.negative::before {
  background-image: url("/icons/down.svg");
  left: -15px;
  top: 2px;
}

.equal {
  color: var(--value-equal);
}

.equal::before {
  background-image: url("/icons/equal.svg");
  left: -12px;
  top: 5px;
}
