.tabBar > button {
  color: var(--background);
  padding: 8px 20px;
  opacity: 0.5;
  font-size: var(--font-size-smallcaps);
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.tabBar > button > span {
  display: flex;
  align-items: center;
}

.tabBar > button > span::before {
  content: ' ';
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 28px;
  height: 26px;
}

.consumer > span::before {
  background-image: url("/icons/consumer.svg");
}
.consumer.selected > span::before {
  background-image: url("/icons/consumer-dark.svg");
}
.producer > span::before {
  background-image: url("/icons/producer.svg");
}
.producer.selected > span::before {
  background-image: url("/icons/producer-dark.svg");
}

.tabBar > button:hover,
.tabBar > button.selected {
  opacity: 1;
}

.tabBar > button.selected {
  color: var(--foreground);
  background-color: var(--background);
}

