:root {
  --border-radius: 16px;
  --padding: 24px;
  --font: "Kumbh Sans", sans-serif;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 246, 243, 238;
  --background-2-rgb: 239, 233, 223;

  --foreground: rgb(var(--foreground-rgb));
  --foreground-50: rgba(var(--foreground-rgb), 0.5);
  --foreground-10: rgba(var(--foreground-rgb), 0.1);
  --background: rgb(var(--background-rgb));
  --background-50: rgba(var(--background-rgb), 0.5);
  --flows-info-background: rgba(var(--background-rgb), 0.85);
  --background-2: rgb(var(--background-2-rgb));

  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-size-caption: 11px;
  --font-size-body: 12px;
  --font-size-subtitle: 20px;
  --font-size-title: 36px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mapboxgl-popup {
  z-index: 2;
}
