.main {
  height: 100vh;
}

.logoWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: var(--z-flow-info);
}

.mapParamsCards {
  position: absolute;
  z-index: var(--z-flow-info);
  right: 20px;
  top: 20px;
  width: 320px;
  transition: right var(--transition) ease-out;
}
.mapParamsCards > *:not(:first-child) {
  margin-top: 16px;
}

.mapParamsCardsHidden {
  right: -320px;
}

