.logoWrapper {
  position: relative;
}

.logo {
  display: block;
  font-size: var(--font-size-logo);
  padding: 5px 0 0 60px;
  margin-bottom: 20px;
}

.logo::before {
  content: ' ';
  position: absolute;
  background-image: url("/logo.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 0px 12px;
  left: 0;
  top: 0;
  width: 85px;
  height: 85px;
  display: inline-block;
}

.logo b {
  font-weight: var(--font-weight-bold);
}
