.card {
  margin-top: 16px;
  border: 1px solid var(--foreground-10);
  padding: 0 10px 16px;
  background: var(--background);
  border: 1px solid var(--foreground-10);
  filter: var(--shadow);
}

.card > h4 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--foreground-50);
}

.card.active > h4 {
  position: relative;
  padding-left: 28px;
  color: var(--foreground);
  margin-bottom: 10px;
}

.card h4::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-repeat: no-repeat;
}

.stressConditions h4::before {
  background-image: url("/icons/stress.svg");
  top: 12px;
}

.roads h4::before {
  background-image: url("/icons/road.svg");
  top: 14px;
}
