.card {
  background: var(--background);
  border: 1px solid var(--accent);
  filter: var(--shadow);
}

.card > .header {
  padding: 0 12px 16px;
  background: var(--accent);
}

.card > .header > h4 {
  color: var(--background);
  /* color: var(--foreground-50); */
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 26px;
  font-size: var(--font-size-smallcaps);
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: var(--font-weight-normal);
}

.card.active > .header > h4 {
  color: var(--background);
}

.card h4::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.card.active > h4::before {
  opacity: 1;
}

.stressConditions h4::before {
  background-image: url("/icons/stress.svg");
  top: 12px;
}

.roads h4::before {
  background-image: url("/icons/road.svg");
  top: 14px;
}

.content {
  transition: all var(--transition) linear;
  overflow: hidden;
  max-height: 60px;
  padding: 16px;
}

.contentHidden {
  max-height: 0;
  padding: 0;
}

