.popup {
  border-radius: 2px;
  pointer-events: none;
}

.mainPopup {
  background: var(--foreground);
  color: var(--background);
}

.popupContent {
  padding: 4px 8px;
}

.fixed {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
}

.rank {
  width: 20px;
  height: 20px;
  background: var(--background-2-50);
  border: 1px solid var(--background-2);
  border-radius: 100%;
  text-align: center;
  line-height: 1.5rem;
}

.hidden {
  display: none;
}

.highlightedLinked {
  padding: 1rem;
  display: flex;
}

.highlightedLinked .rank {
  margin-right: .5rem;
}

.highlightedLinked ul {
  margin-top: .5rem;
  font-weight: var(--font-weight-normal);
}

.highlightedLinked li::before {
  display: inline-block;
  width: 6px;
  height: 6px;
  content: " ";
  border-radius: 99px;
  background: var(--color);
  margin-right: 5px;
  margin-bottom: 2px;
}