.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  /* background: var(--background-80); */
  width: 100%;
  height: 100%;
  z-index: var(--z-popup-search);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("/icons/close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.search {
  position: absolute;
  top: 15vh;
  max-width: 800px;
  margin: auto;
  color: var(--foreground);
}

.control {
  border-bottom: 1px solid var(--foreground-50);
  font-size: var(--font-size-title);
}

.placeholder {
  color: var(--foreground-50);
}

.dropdownIndicator::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 20px;
  height: 20px;
  background: url("/icons/search-dark.svg");
  background-repeat: no-repeat;
}

.dropdownIndicator svg {
  display: none;
}

.menu {
  /* height: 80vh;
  max-height: 80vh; */
  font-size: var(--font-size-subtitle);
}

.option {
  padding: 10px 0;
}
