.summary {
  display: flex;
}

.summary dt {
  font-size: var(--font-size-caption);
  color: var(--foreground-50);
  margin-bottom: 5px;
}

.summary b {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-bold);
}

.summary > dl:first-child {
  margin-right: 15px;
  width: 50%;
  border-right: 1px solid var(--foreground-10);
}

.toggleDisplay {
  cursor: pointer;
}

.variation {
  margin-left: 24px;
  position: relative;
  font-weight: var(--font-weight-bold);
}

.variation::before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.negative {
  color: var(--value-negative);
}

.negative::before {
  background-image: url("/icons/down.svg");
  left: -15px;
  top: 2px;
}

.equal {
  color: var(--value-equal);
}

.equal::before {
  background-image: url("/icons/equal.svg");
  left: -12px;
  top: 5px;
}
