.tabs {
  display: inline-block;
  /* border: 1px solid var(--foreground); */
}

.tabs li {
  display: inline-block;
  list-style: none;
  border: 1px solid var(--accent); 
  color: var(--accent);
}

.tabs li:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.tabs li:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.tabs li.active {
  background-color: var(--accent);
  color: var(--background);
}

.tabs li.active button {
  cursor: default;
}

.tabs li:not(.active) {
  cursor: pointer;
}

.tabs button {
  width: 100%;
  height: 100%;
  padding: 4px 10px;
  font-size: var(--font-size-smallcaps);
  text-transform: uppercase;
  letter-spacing: .1rem;
}