.tabs {
  display: inline-block;
  border: 1px solid var(--foreground);
}

.tabs li {
  display: inline-block;
  list-style: none;
  padding: 4px 10px;
}

.tabs li.active {
  background-color: var(--foreground);
  color: var(--background);
}
.tabs li.active button {
  cursor: default;
}

.tabs li:not(.active) {
  cursor: pointer;
}
